@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GPS Location Tracker</title>
    <style type="text/css">
        #center 
        {
            position: fixed;
            width: 512px;
            height: 600px;
            left: 50%;
            top: 50%;
            margin-left: -256px;
            margin-top: -300px;
            font: bold 35px Verdana;
            color: #505050;
        }
        #center > *
        {
            display: block;
            text-align: center;   
        }
    </style>
</head>
<body>
    <div id="center">
        <img src="/images/ic_action_launcher_big.png" alt="GPS Location Tracker" />
        <span>UNDER CONSTRUCTION</span>
    </div>
</body>
</html>
